.remList{
    cursor: pointer;
    font-size: 25px;
    display: inline-block;
    height: 15px;
    width: 15px;
    color: blue;
    font-weight: bold;
    float: right;
    margin-right: 20px;
}
.remList:hover{
    color: red;
    cursor: pointer;
}
.orders{
    width: 30%;
    border: 2px solid black;
    padding: 10px;
}
.orderList{
    font-size: 20px;
    font-weight: 500;
}
.total{
    font-size: 25px;
    font-weight:bold;

}
.amount{
    border-top: 3px solid black;
}