.item{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    height: 150px;
}
.onePart{
    width: 30%;
    margin: auto;
}
.twoPart{
    width: 65%;
}
.fa{
    font-size: 55px;

}
.twoPart h5{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.mainMenu{
    border: 2px solid black;
    padding: 10px;
    width: 65%;display: flex;
    flex-wrap: wrap;
}